.Product{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.Product>div:nth-of-type(1){
    align-self: center;
    margin-top: 2rem;
}
.product-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}
@media (max-width:480px) {
    .product-wrapper{
        gap: .5rem;
    }
}